<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.b21.finalproject.smartlibraryapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartLibraryApp">
        <activity android:name=".ui.home.ui.settings.SettingsActivity"></activity>

        android:theme="@style/Theme.SmartLibraryApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.home.ui.returnbook.ReturnBookActivity"
            android:parentActivityName=".ui.home.HomeActivity"></activity>
        <activity android:name=".ui.home.ui.detail.DetailBorrowBookActivity" />
        <activity
            android:name=".ui.home.ui.detail.DetailBookActivity"
            android:parentActivityName=".ui.home.HomeActivity" />

        <service
            android:name=".services.DataManagerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.home.ui.books.BooksActivity"
            android:label="@string/title_activity_books"
            android:theme="@style/Theme.SmartLibraryApp.NoActionBar" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/app_name" />
        <activity android:name=".ui.auth.AuthenticationActivity" />
        <activity android:name=".ui.splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>

</manifest>